<!DOCTYPE html>
<html lang="en">
    <head>
        <title>登录</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="../dist/res/favicon.ico" media="screen" />
        <!--bootstrap js-->
        <script type="text/javascript" src="../dist/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="../dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../dist/js/distpicker.data.js"></script>
        <script type="text/javascript" src="../dist/js/distpicker.js"></script>
        <script type="text/javascript" src="../dist/js/sweetalert2.min.js"></script>
        <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
        <script type="text/javascript" src="../dist/js/echarts.js" ></script>
        <!--<script type="text/javascript" src="./dist/js/npm.js"></script>-->
        <!--bootstrap css -->
        <link rel="stylesheet" href="../dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../dist/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../dist/css/sweetalert2.min.css">
        <!--hover css-->
        <link rel="stylesheet" href="../dist/css/hover-min.css">
        <!--cart css-->
        <link rel="stylesheet" href="../dist/mycss/login.css">
        <!--cart js-->
        <!--<script type="text/javascript" src="../dist/myjs/login.js"></script>-->
    </head>
    <body>
        <header id="header">
            <div class="header-school">
                <i class="fa fa-location-arrow fa-lg" aria-hidden="true"></i>
                <a href="javascript:void(0)" class="a_school" @click="showAllSchool()" >&nbsp;[&nbsp;{{targetSchool}}&nbsp;]</a>
                <div :class="{show_school:true,display_show:bShow,display_hide:!bShow}">
                    <div class="show_school_head">
                        <p class="fl">请选择学校</p>
                        <button class="btn btn-sm fa fa-close fr" id="show_school_btn_cls" @click="closeAllSchool()"></button>
                    </div>
                    <div class="show_school_body">
                        <p class="fl">快捷方式:<a href="#" style="color: rgb(0,168,155);" @click="showAllUniversitys('所有学校',0)">　所有学校</a></p>
                        <div class="show_school_body_2 fl" >
                            <a href="#" class ="fl" v-for="(item,index) in AllProvinces" :key="index" @click="showAllUniversitys(item,index)">{{item}}</a>
                        </div>
                        <div class="show_school_body_3 fl">
                            <p v-for="(item,index) in CurrentCityUniversity" :key="index" class="fl"><a href="#" @click="selectSchool(item)">{{item}}</a></p>
                        </div>
                    </div>
                </div>
                <div class="header_login fr">
                    <li class="fl dropdown">
                        <a href="#" id="login_btn" data-toggle="dropdown">{{bIsLogined? '我':'登录'}}</a>&nbsp;|
                        <ul class="dropdown-menu" role="menu" aria-labelledby="login_btn" :class="[bIsLogined? '' : 'fade']">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">我的主页</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="cart.html">我的购物车</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">我的收藏</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" @click="exitLogin()">退出</a>
                            </li>
                        </ul>
                    </li>
                    <li class="fl"><a href="sites/sold.html" target="_blank">出售</a>&nbsp;|</li>
                    <li class="fl"><a href="#" style="color: orange" @click="register">立即注册</a>&nbsp;|</li>
                    <li class="fl"><a href="sites/downloadApp.html" class="fa fa-mobile-phone fa-1x" target="_blank">下载APP</a></li>
                </div>
            </div>
        </header>
        <div class="main" id="main">
            <div class="main_left">
                <div class="person_img">
                    <img src="../dist/res/user_info.jpg" width="80%" class="img-thumbnail" alt="未能加载正常图片">
                    <div class="person_img_common">
                        <label for="Niki_name" >姓名:</label>
                        <p id="Niki_name"  ><a href="#">个人姓名</a></p>
                    </div>
                    <div class="person_img_common">
                        <label for="Niki_school">大学:</label>
                        <p id="Niki_school"  >xxx大学</p>
                    </div>
                    <div class="person_img_common">
                        <label>联系:</label>
                        <p>www.baidu.com</p>
                    </div>
                </div>
                <div class="person_basic">
                    <h4>个人简介</h4>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;这里<a href="http://www.cqjtu.edu.cn">xxx大学</a>简短介绍
                        <a href="#">...了解更多</a></p>
                </div>
                <div class="person_details">
                    <h4>功能列表</h4>
                    <ul class="fl more_list">
                        <li :class="[currentState == 1 ? 'more_list_li_active':'disabled']"><a class="hvr-grow" @click="clickTo(1)">基本资料</a></li>
                        <li :class="[currentState == 2 ? 'more_list_li_active':'disabled']"><a class="hvr-grow" @click="clickTo(2)">图书管理</a></li>
                        <li :class="[currentState == 3 ? 'more_list_li_active':'disabled']"><a class="hvr-grow" @click="clickTo(3)">图书售卖记录</a></li>
                        <li :class="[currentState == 4 ? 'more_list_li_active':'disabled']"><a class="hvr-grow" @click="clickTo(4)">图书买入</a></li>
                        <li :class="[currentState == 5 ? 'more_list_li_active':'disabled']"><a class="hvr-grow" @click="clickTo(5)">日志记录</a></li>
                        <li :class="[currentState == 6 ? 'more_list_li_active':'disabled']"><a class="hvr-grow" @click="clickTo(6)">收益评估</a></li>
                        <li :class="[currentState == 7 ? 'more_list_li_active':'disabled']"><a class="hvr-grow" @click="clickTo(7)">修改密码</a></li>
                        <li><a href="#" @click="ExitStatusInfo(false)">退出登录</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_right">
                <div class="main_head">
                    <ul class="nav nav-tabs nav-tabs-justified">
                        <li :class="checkCurrent(0)"><a href="#" @click="clickTo(0)">登录</a></li>
                        <li :class="checkCurrent(1)"><a href="#" @click="clickTo(1)">基本资料</a></li>
                        <li :class="checkCurrent(2)"><a href="#" @click="clickTo(2)">图书管理</a></li>
                        <li :class="checkCurrent(3)"><a href="#" @click="clickTo(3)">售卖记录</a></li>
                        <li :class="checkCurrent(4)"><a href="#" @click="clickTo(4)">买入</a></li>
                        <li :class="checkCurrent(5)"><a href="#" @click="clickTo(5)">登录日志</a></li>
                        <li :class="checkCurrent(6)"><a href="#" @click="clickTo(6)">评估</a></li>
                        <li :class="checkCurrent(7)"><a href="#" @click="clickTo(7)">其他</a></li>
                    </ul>
                </div>
                <div class="tab-content main_body">
                    <div class="tab-pane fade " id="login" :class="[currentState == 0 ? 'in active':'']">
                        <h1>{{title}}</h1>
                        <hr>
                        <form action="" class="form-horizontal" role="form" method="get">
                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label"><i class="fa fa-user text-danger"></i></label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="username" placeholder="用户名/邮箱/电话" required="required" v-model="submitData.username">
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label"><i class="fa fa-lock" aria-hidden="true"></i></label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" id="password" placeholder="密码" required="required" v-model="submitData.password">
                                </div>
                            </div>
                            <div class="form-group" v-if="Mode==1">
                                <label for="password1" class="col-md-3 control-label"><i class="fa fa-lock text-success" aria-hidden="true"></i></label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" id="password1" placeholder="再次键入密码" required="required" v-model="submitData.againpsw" @blur="checkPasswprd">
                                </div>
                            </div>
                            <div class="form-group" v-if="Mode==1">
                                <label for="cofrimNumber" class="col-md-3 control-label"><i class="fa fa-check-circle" aria-hidden="true"></i></label>
                                <div class="col-md-7" style="display:flex;  ">
                                    <input type="password" class="form-control" id="cofrimNumber" placeholder="输入验证码" required="required" v-model="submitData.confirmp" size="6" required>
                                    <a class="btn btn-link" @click="getConfirmNum" :disabled="confirmData.show" :title="confirmData.title">获取验证码</a>
                                    <div class="ConfrimNumtooltips" v-if="confirmData.show">{{confirmData.confirSeconds}}s 后重新获取验证码</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-2">
                                    <input value="重置" class="btn btn-primary form-control">
                                </div>
                                <div class="col-sm-2">
                                    <input :value="[ Mode== 0 ? '登录' : '注册' ]" class="btn btn-warning form-control" @click="onSubmit">
                                </div>
                                <div class="col-sm-2" id="forget_psw"><a href="#" class="btn btn-link" @click="forgetPassword">忘记密码?</a></div>
                            </div>
                        </form>
                        <hr>
                        <div>
                            <h5>使用第三方账号进行登录</h5>
                            <div class="loginOtherWays">
                                <button type="button" class="fa fa-renren btn btn-primary btn-lg">&nbsp;人人网登录</button>
                                <div class="col-md-1"></div>
                                <button type="button" class="fa fa-qq btn btn-success btn-lg">&nbsp;qq登录</button>
                                <div class="col-md-1"></div>
                                <button type="button" class="fa fa-weibo btn btn-lg btn-info">&nbsp;微博登录</button>
                                <div class="col-md-1"></div>
                                <button type="button" class="fa fa-weixin btn btn-lg btn-danger">&nbsp;微信登录</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="basic_info" :class="[currentState == 1 ? 'in active':'']">
                        <div class="container-fluid">
                            <form class="form-horizontal" role="form" id="basic_info_1">
                                <fieldset>
                                    <legend><h3>基本账户信息</h3></legend>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="account">账号</label>
                                            <div class="col-md-7">
                                                <input type="text" v-model="userInfo.account" class="form-control" readonly name="account" id="account">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">昵称</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" v-model="userInfo.nickName" name="nicheng" :disabled="!bEdit">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">性别</label>
                                            <div class="col-md-7">
                                                <div class="col-md-4">
                                                    <input type="radio" name="sex" value=1 @click="checkOptions(1)" :checked="userInfo.gender.male"  :disabled="!bEdit">
                                                    <label class="control-label">男</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="radio" name="sex" value=2 @click="checkOptions(2)" :checked="userInfo.gender.female" :disabled="!bEdit">
                                                    <label class="control-label">女</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="radio" name="sex" value=3 @click="checkOptions(3)" :checked="userInfo.gender.secret" :disabled="!bEdit">
                                                    <label class="control-label">保密</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">头像</label>
                                            <div class="col-md-7">
                                                <input type="file" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg" :disabled="!bEdit" @change="uploadFile($event)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">学校</label>
                                            <div class="col-md-10 form-group">
                                                <div class="col-md-5">
                                                        <select id="province" class="form-control" :disabled="!bEdit" v-model="selectProvince">
                                                        <option  v-for="(item,index) in AllProvinces" :value="item" :key="index">{{item}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-7">
                                                    <select class="form-control" id="school" :disabled="!bEdit" >
                                                        <option v-for="(item,index) in getUniversityMap()" :value="item" :key="index" @click="userInfo.university=item">{{item}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">地址</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" v-model="userInfo.address" :disabled="!bEdit">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">描述</label>
                                            <div class="col-md-10">
                                                <textarea name="des" :disabled="!bEdit" placeholder="请输入描述性语言(150字以内)" maxlength="150" v-model="userInfo.description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" id="basic_info_1_btn">
                                            <button class="btn btn-link" type="button" @click="bEdit=true">修改资料</button>
                                            <button class="btn btn-primary" type="reset" :disabled="!bEdit">放弃修改</button>
                                            <button class="btn btn-danger" type="submit" disabled>提交</button>
                                        </div>
                                    </div>
                                    <div class="col-md-3" align="center">
                                        <img src="../dist/res/user_img_new/2.jpg" alt="头像" width="140" height="220" class="img-thumbnail" id="person_pic">
                                        <label for="person_pic" class="control-label">个人头像</label>
                                    </div>
                                </fieldset>
                            </form>
                            <form class="form-horizontal" role="form" id="basic_info_2">
                                <fieldset>
                                    <legend>管理收货地址</legend>
                                    <div class="list-group">
                                        <div class="panel-group" id="addr1" v-for="(item,index) in Address">
                                            <div class="panel" :class="[item.bdefault ? 'panel-primary':'panel-default']">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" :data-parent="item.id | idFilter " :href="item.id | idChildFileter">{{item.detail}}
                                                            <span class="badge fr" v-if="item.bdefault">默认地址</span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div :id="item.id | idChild " class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="col-md-10">
                                                            <div class="col-md-6">
                                                                    <strong class="fl">收件人姓名:&nbsp;&nbsp;</strong>
                                                                    <h4 class="fl list-group-item-heading">{{item.name}}</h4>
                                                                </div>
                                                            <div class="col-md-6">
                                                                    <strong class="fl">联系电话:&nbsp;&nbsp;</strong>
                                                                    <h4 class="list-group-item-heading fl">{{item.tel}}</h4>
                                                                </div>
                                                            <div class="col-md-12">
                                                                <strong class="fl">详细地址:&nbsp;&nbsp;</strong>
                                                                <h4 class="list-group-item-heading fl">{{item.detail}}</h4>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <strong class="fl">邮政编码:&nbsp;&nbsp;</strong>
                                                                <h4 class="list-group-item-heading fl" title="邮政编码默认为000000">{{item.postcode}}</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-link" value="edit_add" type="button" v-if="!item.bdefault" @click="setDefaultAddress(item)">设置为默认地址</button>
                                                            <button class="btn btn-link" value="edit_add" type="button">修改地址</button>
                                                            <button class="btn btn-link" value="del_add" type="button" @click="deleteAddress(item)">删除地址</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn btn-danger col-md-4" type="button" data-toggle="modal" data-target="#address_add_modal">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                <i class="fa fa-plus fa-stack-1x"></i>
                                                添加新的收货地址 </span>
                                        </button>
                                        <div class="modal fade" id="address_add_modal" tabindex="0" role="dialog" aria-labelledby="address_title" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
                                                        <h4 class="modal-title" id="address_title">添加收货地址</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-inline">
                                                            <div data-toggle="distpicker">
                                                                <div class="form-group col-md-4">
                                                                    <label class="sr-only" for="province2">Province</label>
                                                                    <select class="form-control" id="province2" data-province="---- 选择省 ----" required></select>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label class="sr-only" for="city2">City</label>
                                                                    <select class="form-control" id="city2" data-city="---- 选择市 ----" required></select>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label class="sr-only" for="district2">District</label>
                                                                    <select class="form-control" id="district2" data-district="---- 选择区 ----" required></select>
                                                                </div>
                                                            </div>
                                                            <div class="input-group add-more">
                                                                <span class="fl">联系电话</span>
                                                                <input type="tel" maxlength="20" placeholder="联系电话" required v-model="NewAddress.tel">
                                                            </div>
                                                            <div class="input-group add-more">
                                                                <span class="fl">姓名</span>
                                                                <input type="text" placeholder="姓名" required v-model="NewAddress.name">
                                                            </div>
                                                            <div class="input-group add-more">
                                                                <span class="fl">具体地址</span>
                                                                <input type="text" placeholder="详细地址" required v-model="NewAddress.detail">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                        <button type="button" class="btn btn-primary" @click="addAddress" >添加</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="book_management" :class="[currentState == 2 ? 'in active':'']">
                        <form action="" id="book_management_1">
                            <fieldset>
                                <legend><i class="fa fa-book"></i>&nbsp;图书管理</legend>
                                <div class="form-group col-md-10">
                                    <label for="sel_num_show">每页显示</label>
                                    <select id="sel_num_show" v-model="bookManger.chooseShow">
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=5>5</option>
                                        <option value=10>10</option>
                                        <option value=15>15</option>
                                    </select>
                                    <label for="sel_num_show">条</label>
                                </div>
                                <ul class="fr nav nav-pills nav-tabs-justified col-md-2">
                                    <li class="fl active"><a href="#show_in_table" class="fa fa-table" data-toggle="tab" title="表格形式"></a></li>
                                    <li class="fl"><a href="#show_in_list" class="fa fa-list-alt" data-toggle="tab" title="列表模式"></a></li>
                                </ul>
                                <div class="tab-content fl">
                                    <div class="tab-pane fade in active" id="show_in_table">
                                        <table class="table-striped table-bordered table-condensed table-hover">
                                            <caption>图书列表</caption>
                                            <thead align="center" class="black white-text">
                                                <tr>
                                                   <th scope="col"><i class="fa fa-leaf mr-2 blue-text" aria-hidden="true"></i>编号</th>
                                                   <th scope="col">书店ID</th>
                                                   <th scope="col">店名</th>
                                                   <th scope="col">书名</th>
                                                   <th scope="col">图片</th>
                                                   <th scope="col">广告词</th>
                                                   <th scope="col">作者</th>
                                                   <th scope="col">出版社</th>
                                                   <th scope="col">版次</th>
                                                   <th scope="col">单价</th>
                                                   <th scope="col">库存</th>
                                                   <th scope="col">操作</th>
                                                   <th scope="col">其他</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item,index) in doShowCurrent()">
                                                    <td>{{item.book_id}}</td>
                                                    <td>{{item.book_store_id}}</td>
                                                    <td>{{item.book_store_name}}</td>
                                                    <td>{{item.book_name}}</td>
                                                    <td>
                                                        <img :src='item.book_img_url' alt='未能加载正常图片' width='64' height='80'>
                                                    </td>
                                                    <td align="center">{{item.book_ads}}</td>
                                                    <td>{{item.book_author}}</td>
                                                    <td>{{item.book_publish}}</td>
                                                    <td>{{item.book_edition}}</td>
                                                    <td>{{item.book_price_now | showPrice}}</td>
                                                    <td>{{item.book_left}}</td>
                                                    <td>
                                                        <a class="btn btn-link">删除</a>
                                                        <a class="btn btn-link">修改</a>
                                                    </td>
                                                    <td>{{item.book_else}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade " id="show_in_list">
                                        <ul>
                                            <li  v-for="(item,index) in doShowCurrent()">
                                                <div class="book_list_info">
                                                    <div class="fl book_list_info_left">
                                                        <img :src="item.book_img_url " alt="未能加载正常图片" width="120" height="140" class="img-rounded">
                                                    </div>
                                                    <div class="fl book_list_info_right">
                                                        <div class="list_info_1">
                                                            <a href="#" :title="item.book_ads">{{item.book_ads}}</a>
                                                        </div>
                                                        <div class="list_info_2">
                                                            <h4 class="fl">&thetav;</h4>
                                                            <div class="badge fl"><a href>励志</a></div>
                                                            <div class="badge fl"><a href>青春</a></div>
                                                            <div class="badge fl"><a href>励志</a></div>
                                                            <p class="fl info_price">
                                                                <strong>&yen;&nbsp;{{item.book_price_now}}</strong>
                                                            </p>
                                                            <del class="fl info_price_before">&yen;&nbsp;{{item.book_price_before}} </del>
                                                            <p class="fl info_price_dis">{{ item.book_price_now / item.book_price_before | toFixed }}  折</p>
                                                            <br>
                                                        </div>
                                                        <div class="list_info_3">
                                                            &nbsp;&nbsp;[中]
                                                            &sol; 作者:<a href="#">{{item.book_author}}<a>
                                                            &sol; 上架时间:2018.3.14
                                                            &sol;  {{item.book_publish}}
                                                            &sol; {{item.book_edition}}
                                                        </div>
                                                        <div class="list_info_4">
                                                            &nbsp;&nbsp;图书编号: {{item.book_id}}
                                                            &sol; 余量({{item.book_left}})
                                                            &sol; 描述 {{item.book_else}}"
                                                        </div>
                                                        <div class="list_info_5">
                                                            <a href="#" class="btn btn-warning">删除</a>
                                                            <a href="#" class="btn btn-danger">修改</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="pager fr" id="book_management_pager">
                                    <li class="previous"><a href="javascript:void(0)" @click="TurnTo(-1)">Prev</a></li>
                                    <li><a href="javascript:void(0)" @click="TurnTo(1)">{{bookManger.showPages[0]}}</a></li>
                                    <li><a href="javascript:void(0)" @click="TurnTo(2)">{{bookManger.showPages[1]}}</a></li>
                                    <li><a href="javascript:void(0)" @click="TurnTo(3)">{{bookManger.showPages[2]}}</a></li>
                                    <li class="next"><a href="javascript:void(0)" @click="TurnTo(0)">Next </a></li>
                                </ul>
                            </fieldset>
                        </form>
                        <form action="" id="book_management_2">
                            <fieldset>
                                <legend>
                                    <h3>增添图书</h3>
                                </legend>
                                <div class="form-horizontal">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label for="book_id" class="control-label col-md-2">图书编号</label>
                                            <div class="col-md-7">
                                                <input type="text" id="book_id" class="form-control" value="10010" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_store_id" class="control-label col-md-2">书店ID</label>
                                            <div class="col-md-7">
                                                <input type="text" id="book_store_id" value="1234561" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_store_name" class="control-label col-md-2">书店名称</label>
                                            <div class="col-md-7">
                                                <input type="text" id="book_store_name" value="xxx书店" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_seller_school" class="control-label col-md-2">学校地址</label>
                                            <div class="col-md-7">
                                                <input type="text" id="book_seller_school" value="xxx大学" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_name" class="control-label col-md-2">图书名称</label>
                                            <div class="col-md-7">
                                                <input type="text" id="book_name" placeholder="图书名称" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_pic" class="control-label col-md-2">图书图片</label>
                                            <div class="col-md-7">
                                                <input type="file" id="book_pic" placeholder="图书图片" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_ad" class="control-label col-md-2">广告词</label>
                                            <div class="col-md-7">
                                                <input type="text" id="book_ad" placeholder="广告词" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_author" class="control-label col-md-2">图书作者</label>
                                            <div class="col-md-7">
                                                <input type="text" id="book_author" placeholder="图书作者" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_editon" class="control-label col-md-2">图书版次</label>
                                            <div class="col-md-7">
                                                <select name="" id="book_editon" class="form-control">
                                                    <option value="1" selected>第一版</option>
                                                    <option value="2">第二版</option>
                                                    <option value="3">第三版</option>
                                                    <option value="4">第四版</option>
                                                    <option value="else">其他版次</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_sale" class="control-label col-md-2">图书售价</label>
                                            <div class="col-md-7">
                                                <input type="text" id="book_sale" placeholder="&yen;&nbsp;图书售价" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_left_num" class="control-label col-md-2">图书库存</label>
                                            <div class="col-md-7">
                                                <input type="number" id="book_left_num" placeholder="图书库存(0~9999)" class="form-control" min="0" max="9999">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="book_des" class="control-label col-md-2">图书描述</label>
                                            <div class="col-md-10">
                                                <textArea class="form-control" id="book_des" placeholder="描述书本内容 500字以内" maxlength="500" style="width: 135%;height: 200px;resize: none;"></textArea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="reset" class="btn btn-warning">重置</button>
                                            <button type="submit" class="btn btn-danger">添加图书</button>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="" alt="图书图片" width="100" height="100" class="img-thumbnail">
                                        <label class="control-label">书名:xxx图书</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="book_sale_history" :class="[currentState == 3 ? 'in active':'']">
                        <div class="container-fluid">
                            <legend>销售历史<label class="fr" id="local_time"></label></legend>
                            <div class="form-group fl">
                                <label for="book_sale_history_list_items" class="control-label">分类</label>
                                <select name="" id="book_sale_history_list_items">
                                    <option value="1" selected>月销售统计</option>
                                    <option value="2">销售种类统计</option>
                                    <option value="3">所有</option>
                                </select>
                            </div>
                            <div class="form-group fl" style="margin-left: 20px">
                                <label for="book_sale_history_time_list" class="control-label">最近</label>
                                <select name="" id="book_sale_history_time_list">
                                    <option value="1">3</option>
                                    <option value="2">6</option>
                                    <option value="3" selected>12</option>
                                    <option value="4">所有</option>
                                </select>
                                <label for="book_sale_history_time_list" class="control-label">月</label>
                            </div>
                            <ul class="nav nav-pills nav-tabs-justified fr">
                                <li class="active"><a href="#sale_his_line" class="fa fa-line-chart" data-toggle="tab">折线</a></li>
                                <li class=""><a href="#sale_his_bar" class="fa fa-bar-chart" data-toggle="tab">条形图</a></li>
                                <li class=""><a href="#sale_his_pie" class="fa fa-pie-chart" data-toggle="tab">饼状图</a></li>
                            </ul>
                            <div class="tab-content fl" id="sale_hist_chart">
                                <div class="tab-pane fade in active" id="sale_his_line"></div>
                                <div class="tab-pane fade" id="sale_his_bar"></div>
                                <div class="tab-pane fade" id="sale_his_pie"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="book_bought_history" :class="[currentState == 4 ? 'in active':'']">book_bought_history</div>
                    <div class="tab-pane fade" id="login_history" :class="[currentState == 5 ? 'in active':'']">
                        <table class="table table-striped table-responsive-md btn-table">
                            <caption>登录列表</caption>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>登录时间</th>
                                    <th>登录地点</th>
                                    <th>详细说明</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>2018/1/21 12:31:12</td>
                                    <td>中国重庆黔江</td>
                                    <td>=====</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <table class="table table-striped table-responsive-md btn-table" width="200px">
                            <caption>登录列表</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>登录时间</th>
                                <th>登录地点</th>
                                <th>详细说明</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>2018/1/21 12:31:12</td>
                                <td>中国重庆黔江</td>
                                <td>=====</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="tab-pane fade" id="account_evaluate" :class="[currentState == 6 ? 'in active':'']">收益评估</div>
                    <div class="tab-pane fade" id="book_else" :class="[currentState == 7 ? 'in active':'']">
                        <div class="container-fluid">
                            <form class="form-horizontal" role="form" id="book_else_1">
                                <fieldset>
                                    <legend>修改密码</legend>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="account_static">账号</label>
                                        <div class="col-md-7">
                                            <input type="text" value="123132141" class="form-control" readonly name="account" id="account_static">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="psw_old">原密码</label>
                                        <div class="col-md-7">
                                            <input type="password" class="form-control" name="psw_old" id="psw_old" MAXLENGTH="18">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="psw_new">新密码</label>
                                        <div class="col-md-7">
                                            <input type="password" class="form-control" name="psw_new" id="psw_new" MAXLENGTH="18">
                                            <a class="fa fa-eye" name="eye"></a>
                                        </div>
                                        <p class="col-md-3 control-label">必须大于6位小于18位</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="psw_strength_check" class="col-md-2"></label>
                                        <div class="col-md-7">
                                            <div title="弱" class="col-md-12" id="psw_strength_check">
                                                <div class="col-md-4">弱</div>
                                                <div class="col-md-4">中</div>
                                                <div class="col-md-4">强</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="psw_again">再次输入</label>
                                        <div class="col-md-7">
                                            <input type="password" class="form-control" id="psw_again">
                                            <a class="fa fa-close"></a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="yzm" class="col-md-2 control-label">验证码</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" maxlength="4" id="yzm" size="4">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="col-md-4">
                                            <canvas class="yzm" title="看不清,点击重新换一张"></canvas>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-danger" type="button">确认修改</button>
                                        <button class="btn btn-warning" type="reset">撤销修改</button>
                                    </div>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-dismissible toolTip" :class="[toolTipData.display? 'display_show' : 'display_hide', toolTipData.class]" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{toolTipData.strongtext}}</strong>{{toolTipData.text}}
            </div>
        </div>
        <div class="footer fl">
            <ul class="footer-head fl">
                <li class="fl"><a href="#" class="hvr-grow">关于我们</a></li>
                <li class="fl"><a href="#" class="hvr-grow">申请合作</a></li>
                <li class="fl"><a href="#" class="hvr-grow">隐私政策</a></li>
                <li class="fl"><a href="#" class="hvr-grow">服务条款</a></li>
                <li class="fl"><a href="#" class="hvr-grow">帮助</a></li>
                <li class="fl"><a href="#" class="hvr-grow">友情链接</a></li>
            </ul>
            <div class="footer-body fl">
                <p class="fa fa-copyright">&nbsp;by Copyright 淘书斋 渝ICP备12345678号-2</p>
                <p>淘书斋二手书平台&nbsp;|&nbsp;地址:重庆市xxx区 xxx街道 xxx办公室&nbsp;|&nbsp; 联系电话:13232343531</p>
                <p>买卖二手书，就上淘书斋。淘书斋二手书交易网-您身边最全的二手书网站</p>
            </div>
        </div>
        <div class="helper">
            <div class="helper-item"><i class="fa fa-question-circle-o fa-2x"></i></div>
            <div class="jg1"></div>
            <div class="helper-item"><i class="fa fa-rocket fa-2x"></i></div>
            <div class="jg1"></div>
            <div class="helper-item"><i class="fa fa-qrcode fa-2x"></i>
                <div class="item3">
                    <a href="#">
                        <img src="../dist/res/0.jpg" alt="" width="100" height="100">
                    </a>
                </div>
            </div>
            <div class="jg1"></div>
            <div class="helper-item">
                <i class="fa fa-phone-square fa-2x"></i>
            </div>
        </div>
        <div class="swal2-container" id="overlay">
            <div class="overlay" tabindex="-1" :class="[ bOverLay ? 'display_show' : 'display_hide']"></div>
        </div>
        <!-- common.js -->
        <script type="text/javascript" src="../dist/myjs/common.js"></script>
        <!--vue.js-->
        <script type="text/javascript" src="../dist/js/vue.js"></script>
        <script type="text/javascript" src="../dist/js/vue-resource.min.js"></script>
        <!--vue-index.js-->

        <script type="text/javascript" src="../dist/myjs/vue-login.js"></script>

    </body>

</html>